.message {
    padding: 14px;
    width: 100%;
    border-radius: 10px;
    
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    
    &--success {
        background: rgba(36, 179, 90, 20%);
        border: 1.5px solid #46a05c;
    }
}
