html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(7496%) hue-rotate(124deg) brightness(99%) contrast(109%);;
    --header-bg: #171C28;
    --top-act-group-bg: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-separate: #EDEDF6;
}