@use "../abstracts";
html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(6461%) hue-rotate(218deg) brightness(95%) contrast(95%);
    --body-bg: #f6f6f6;
    --header-bg: #eee;
    --top-act-group-bg: #fff;
    --top-act-group-shadow: rgba(198, 198, 255, 0.2);
    --top-act-group-separate: #ededf6;
    @include abstracts.screen(lg) {
        --header-bg: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Dropdown
    --drop-down-bg: #fff;
    --drop-down-shadow: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
    --menu-col-icon-color: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(6461%) hue-rotate(218deg) brightness(95%) contrast(95%);

    // Sidebar
    --sidebar-bg-color: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Cate item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Buttons
    --filter-btn-color: #6C6C72;
    --filter-btn-bg-color: #fff;

    // Product item
    --product-item-bg: #fff;
    --product-item-shadow: rgba(237, 237, 246, 0.20);
    --product-item-desc: #1a162e;
    --like-btn-shadow: rgba(124, 124, 124, 0.20);
    --like-btn-bg: #fff;

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.40);
}
