*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

a {
    text-decoration: none;
    color: inherit;
}
img,
a,
input,
button,
select,
textarea {
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

.icon {
    filter: var(--icon-color);
}
